.button {
    display: inline-block;
    box-sizing: border-box;
    font-family: var(--roboto-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;

    cursor: pointer;
    text-align: center;
    &:disabled {
        background-color: transparent;
        color: var(--gray);
        border: 1px solid var(--gray);
    }
}

.full {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--black);
    padding: 1rem;
    max-width: 226px;
}

.link {
    background: none;
    border: none;
    width: fit-content;
    color: var(--gray);
    padding: 0;
}

.pagination {
    margin: 1rem 0;
}
