.form-request {
  display: flex;
  flex-direction: column;
  & p {
    margin-top: 48px;
    max-width: 390px;
  }
  & .form-field__wrapper {
    margin-bottom: 2.5rem;
  }
}

.form-filter {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
  gap: 20px;
  margin: 4.5rem 0 24px;
  @media (max-width: 991px) {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  & .form-field__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  & button {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1rem;
    justify-self: flex-end;
    @media (max-width: 991px) {
      justify-self: flex-start;
    }
    & span {
      margin-right: .5rem;
    }
  }
}

.form-field {
  font-family: var(--rubik-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  border: none;
  border-bottom: 1px solid var(--black);
  color: var(--gray-dark);
  padding: 1rem 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.error {
  color: red;
  padding-top: .5rem;
}

.select:focus-visible {
  outline: red auto 1px;
}
